/**
 * common/index.css
 *
 * What it Does:
 *   This is your global CSS file, this file will style every page and
 *   component in your application.
 *
 * Things to Change:
 *   If you want any CSS properties to persist through all of your app
 *   or if any element you import has to be styled globally, this is the
 *   file to use.
 */

* {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    transition: background-color 0.5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 300px;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 1px 40px 4px rgba(0,0,0,0.4);
    padding: 24px;
    text-align: center;
}

.boxtext {
    margin: 16px 0;
    font-size: 18px;
}

button {
    font-size: 24px;
    background-color: #FFF;
    border: 1px solid #000;
    padding: 4px 10px;
    border-radius: 2px;
    transition: box-shadow 0.2s linear;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 1px 5px 2px rgba(0,0,0,0.3);
}